ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    display: inline;
    margin: 0;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &.main-nav {
    li {
      margin: 0 1.2rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &.social-nav {
    text-align: right;

    li {
      margin: 0 0.25rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
