@import 'includes/variables';
@import 'carbon-components/scss/globals/scss/styles.scss';
// $carbon--theme: $carbon--theme--g90;

h2 {
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  color: $brand-02;
  font-size: 2rem;
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
}

a {
  color: $text-01;
  transition: color 0.2s ease-out;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $brand-01;

    > svg {
      fill: $brand-01;
    }
  }

  > svg {
    fill: $text-01;
    transition: fill 0.2s ease-out;
  }
}

.full-view {
  height: 100vh;
}

section[class*=' page-'] {
  padding-top: 2rem;
  p {
    color: black;
  }
}

.masthead {
  width: 100%;
  display: block;
  margin-bottom: 2rem;

  &.masthead-reverse {
    border-color: white;

    &:before {
      background-color: white;
    }
  }

  .masthead-content {
    padding: 2rem 3rem 2.75rem;
    background-color: white;

    h1 {
      font-size: 3rem;
      font-style: italic;
      font-weight: 300;
    }

    h2 {
      font-family: 'Righteous', Arial, Helvetica, sans-serif;
      font-size: 5rem;
      color: $brand-01;
    }

    h3 {
      font-size: 2rem;
      font-weight: 700;
    }

    &.masthead-red {
      background-color: $brand-02;
    }
  }
}

/// The React <Content /> component uses the `main` element which IE11 doesn't recognize
/// @link https://github.com/carbon-design-system/carbon/issues/2789
main {
  display: block;

  &.bx--content {
    transform: none;
    -webkit-transform: none;
  }
}

/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .bx--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.bx--content {
  padding: 0;
}
